<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:ymj="http://www.ymj.com/schema/user"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.ymj.com/schema/user http://www.ymj.com/schema/user.xsd
		">

	<ymj:user id="ymj" userName="lian" email="lian@ymj.com"/>
<!--	    <msb:user id="msb" userName="lian" email="lian@msb.com" password="123456"></msb:user>-->


	<!--	<bean id="myTestBean" class="com.ymj.MyTestBean"/>-->
</beans>